{% extends 'schedules/base.html' %}
{% block body %}

	<!-- Side bar -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
				<div class="panel panel-default" id="NewsMessages">
					<div class="panel-heading" id="NewsMessagesHeading">News & Messages</div>			
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">First entry title:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p>This is content for the first post</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Second entry:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p>This is content for the first post</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Third entry:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p>This is content for the first post</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Fourth entry:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p>This is content for the first post</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-8 col-lg-9">
				<!-- Welcome User -->
				<div class="welcome">
					<h1>Welcome {{ bearforce_worker.first_name }}</h1>
				</div>
				
				<!-- Scheduling content -->
				<div class="scheduling">					
					<div id="calendar"></div>					
				</div>
			</div>		
		</div>
	</div>

{% endblock %}