<!DOCTYPE html>
<html>
<head>
	<title>BearForce</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	

</head>
<body>
	<!-- Navigation Bar -->
	<nav class="nav navbar-inverse">
		<div class="container-fluid">

			<!-- logo -->
			<div class="navbar-header">
				<a href="#" class="navbar-brand">BEARFORCE</a>
			</div>

			<!-- Menu Items -->
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
			
					<!-- dropdown -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Release</a></li>
							<li><a href="#">Pick Up</a></li>
						</ul>
					</li>

					<li><a href="#">Staff</a></li>
					<li><a href="#">Account</a></li>
				</ul>
			</div>

		</div>
	</nav>
	
	<!-- Welcome User -->
	<div class="welcome">
		<h1>Welcome {{ bearforce_worker.first_name }}</h1>
	</div>
	
	<!-- Messaging content -->
	<div class="messages">
		<h3>News and Messages</h3>
		{% for nm in bearforce_messages %}
			<p> {{ nm }} </p>
		{% endfor %}
	</div>
	
	<div class="create new message">
		<form action="{% url 'schedules:new_message' %}" method="post">
			{% csrf_token %}
			Title:
			<input type="text" name="title" size="50">
			</br>
			Content:
			<textarea cols="50" rows="5">
			</textarea>
			</br>
			<input type="submit" value="new message">
		</form>
	</div>
	
	<!-- Scheduling content -->
	<div class="scheduling">
		<h3>You need to work the following shifts this week</h3>

		{% for shift in shifts_to_work %}
			<p>{{ shift }}</p>
		{% endfor %}
	</div>

</body>
</html>