{% extends 'schedules/base.html' %}
{% block body %}

	<!-- Side bar -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
				<div class="panel panel-default" id="NewsMessages">
					<div class="panel-heading" id="NewsMessagesHeading">News & Messages</div>			
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">40 hours a week for Interim <B></B>:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p class="news_content">Good news! We have confirmation that students are allowed to work 40 hours a week for Interim B...</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">New COS Policy:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p class="news_content">Beginning Wednesday, June 29th, a new change of shift policy will be in effect at the UC. COS forms will no longer be at the stations...</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">DO NOT MIX ORANGE AND WHITE TOWELS:</div>
					<div class="panel-body">
						<p class="date"><small>7/18/16</small></p>
						<p class="news_content">Self-explanatory</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-8 col-lg-9">
				<!-- Welcome User -->
				<div class="welcome">
					<h1>Welcome {{ bearforce_worker.first_name }}</h1>
				</div>
				
				<!-- Scheduling content -->
				<div class="scheduling_calendar">					
						{{ user_calendar|safe }}		
				</div>
			</div>		
		</div>
	</div>

{% endblock %}