/* 
important colors:
#c95106
#b14501

*/

.navbar-inverse {
	background-color: #c95106;
}

.navbar-inverse .navbar-header a {
	color: white;
}

.navbar-inverse .navbar-nav >li >a {
	color: white;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #b14501;
}
